.about-hero {
  width: 100vw;
  height: 430px;
  background-image: url(About-Hero-D.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.about-section {
  margin-top: 250px;
  margin-bottom: 250px;
}
.about-text-box {
  padding: 100px;
  background-color: var(--color4);
  max-width: 1200px;
  box-shadow: 0px 6px 8px 5px lightgray;
}
.about-us-h2 {
  font: bold;
  font-size: 68px;
  text-transform: uppercase;
  color: #fff;
}

.about-h3 {
  color: var(--color-3);
  text-transform: uppercase;
  font-size: 38px;
}

.about-p {
  font-size: 24px;
}
@media only screen and (min-width: 1441px) and (max-width: 1920px) {
  .hero {
    height: 730px;
  }
}

@media only screen and (min-width: 1280px) and (max-width: 1440px) {
  .about-hero {
    height: 325px;
  }
}

@media only screen and (min-width: 1100px) and (max-width: 1270px) {
  .about-hero {
    height: 325px;
    background-size: contain;
  }
  .about-section {
    margin-top: 150px;
    margin-bottom: 200px;
  }
}

@media only screen and (max-width: 600px) {
  .about-hero {
    width: 100vw;
    height: 140px;
    background-image: url(About-Hero-M.png);
  }

  .about-text-box {
    padding: 0;
    max-width: 100vw;
  }

  .about-h3 {
    font-size: 22px;
    margin-left: 20px;
  }

  .about-p {
    font-size: 18px;
    max-width: 330px;
    margin-left: 20px;
    margin-right: 20px;
  }
}

@media only screen and (max-width: 376px) {
}
