.locations-hero {
  width: 100vw;
  height: 430px;
  background-image: url(Locations-Hero-D.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.location-h2 {
  font-size: 68px;
  color: #fff;
  text-transform: uppercase;
}
.locations-card-section {
  padding-top: 150px;
  padding-bottom: 150px;
  background-color: var(--color5);
}

.locations-card-box {
  display: flex;
  flex-direction: row;
}

.location-img {
  margin-top: 20px;
  max-width: 465px;
  border-radius: 10px;
}

.location-card {
  width: 500px;
  align-items: center;
  margin-right: 50px;
  margin-left: 50px;
  border-radius: 10px;
  box-shadow: 0px 6px 8px 5px lightgray;
}

.locations-p1 {
  margin-top: 0;
  margin-bottom: 0;
}

.locations-p2 {
  text-transform: uppercase;
}

@media only screen and (min-width: 1280px) and (max-width: 1440px) {
  .locations-hero {
    height: 322px;
    background-size: cover;
  }
}

@media only screen and (max-width: 600px) {
  .locations-hero {
    width: 100vw;
    height: 150px;
    background-image: url(Locations-Hero-M.png);
    background-size: cover;
    background-repeat: no-repeat;
  }

  .location-h2 {
    font-size: 48px;
    color: #fff;
    text-transform: uppercase;
  }

  .locations-card-box {
    flex-direction: column;
  }

  .locations-card-section {
    padding-top: 50px;
    padding-bottom: 50px;
  }

  .location-card {
    width: 300px;
    margin-bottom: 50px;
    margin-left: 0;
    margin-right: 0;
  }

  .location-img {
    max-width: 260px;
  }
}
